{% extends 'base.html.twig' %}

{# commentaire #}
{% block title %}
    {{ parent() }} : Back
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style>
        #layout{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.3);
            z-index: 10;
            display: none;
        }
        .modal{
            background-color: #FFF;
            width: 70%;
            border-radius: 10px;
            margin: 0 auto;
            z-index: 15;
        }
        .modal-backdrop.in{
            opacity: 0;
        }
    </style>
{% endblock %}

{% block main_content %}
    <h2>Homepage</h2>
    {% if(stop>1) %}
    <nav>
        <ul class="pagination">
          <li {{(hasPrevPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexTorrent', {"p":p-1})}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in range(start, stop) %}
          <li {{(p==i)? "class='active'" : ""}}><a href="{{path('indexTorrent', {"p":i})}}">{{i}}</a></li>
          {% endfor %}
          <li {{(hasNextPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexTorrent', {"p":p+1})}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
    {% endif %}
    <p>Result: {{firstResult}} to {{lastResult}} on {{tot}}</p>
    <table class="table table-striped">
        <thead>
                <tr>
                    <th>#</th>
                    <th>Torrent name</th>
                    <th>Date</th>
                    <th>Magnet</th>
                    <th>Movie</th>
                    <th>BL</th>
                </tr>
            </thead>
    {% for torrent in torrents %}
        <tr>
            <td>{{((p-1)*nbPage)+loop.index}}</td>
            <td><h4>{{torrent.name}}</h4></td>
            <td>{{torrent.dateCreated|date('d-m-Y H:i:s')}}</td>
            <td><a href="{{torrent.magnet}}">{{torrent.hash}}</a></td>
            <td><a href="{{url('showMovie', {'id': torrent.movie.id})}}" class="show_movie_link"><img src="{{torrent.movie.image}}"/><p>{{torrent.movie.title}}</p></a></td>
            <td><a href="{{path('blacklistTorrent', {'id': torrent.id})}}" class="delete btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span>Blacklist</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(function(){
           $('.delete').on('click', function(e){
               return confirm('Blacklist ?');
           });
           
           $('li.disabled a').on('click', function(e){e.preventDefault();});
           
           /*$('.show_movie_link').on('click', function(e){
                e.preventDefault();
                $('.modal').remove();
                jQuery.ajax({
                    url: $(this).attr('href'),
                    dataType: 'html'
                }).done(function(html){
                    var content=$($(html).filter('#main_content')).html();
                    var first='<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">\n\
			  <div class="modal-header">\n\
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>\n\
			  </div>\n\
			  <div class="modal-body">';
                    first+=content;
                    first+='</div>\n\
			  <div class="modal-footer">\n\
			  </div>\n\
			</div>';
                    $(first).appendTo('body').modal('toggle');
                    $('#layout').show();
                });
           });*/
        });
    </script>
{% endblock %}