{% extends 'base.html.twig' %}

{# commentaire #}
{% block title %}
    {{ parent() }} : Back
{% endblock %}

{% block main_content %}
    <h2>Homepage</h2>
    <!--<form method="POST">
        <label for="title">title</label>
        <input type="text" name="title" id="title" value=""/>
        <input type="submit" value="filter" class="btn btn-primary"/>
    </form>-->
    <nav>
        <ul class="pagination">
          <li {{(hasPrevPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexTorrent', {"p":p-1})}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in range(start, stop) %}
          <li {{(p==i)? "class='active'" : ""}}><a href="{{path('indexTorrent', {"p":i})}}">{{i}}</a></li>
          {% endfor %}
          <li {{(hasNextPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexTorrent', {"p":p+1})}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
    <p>Result: {{firstResult}} to {{lastResult}} on {{tot}}</p>
    <table class="table table-striped">
        <thead>
                <tr>
                    <th>#</th>
                    <th>Torrent name</th>
                    <th>Date</th>
                    <th>Magnet</th>
                    <th>Movie</th>
                    <th>BL</th>
                </tr>
            </thead>
    {% for torrent in torrents %}
        <tr>
            <td>{{((p-1)*nbPage)+loop.index}}</td>
            <td><h4><a href="">{{torrent.name}}</a></h4></td>
            <td>{{torrent.dateCreated|date('d-m-Y H:i:s')}}</td>
            <td><a href="{{torrent.magnet}}">{{torrent.hash}}</a></td>
            <td><a href="{{path('showMovie', {'id': torrent.movie.id})}}"><img src="{{torrent.movie.image}}"/><p>{{torrent.movie.title}}</p></a></td>
            <td><a href="{{path('blacklistTorrent', {'id': torrent.id})}}" class="delete btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span>Blacklist</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
           $('.delete').on('click', function(e){
               return confirm('Blacklist ?');
           });
           
           $('li.disabled a').on('click', function(e){e.preventDefault()});
        });
    </script>
{% endblock %}