{% extends 'base.html.twig' %}

{# commentaire #}
{% block title %}
    {{ parent() }} : Back
{% endblock %}

{% block main_content %}
    <h2>Back</h2>
    <div style="margin-bottom: 2rem;">
        <a href="{{path('createActu')}}" title="about" class="btn btn-primary">add actu</a>
    </div>
    <form method="POST">
        <label for="title">title</label>
        <input type="text" name="title" id="title" value="{{filter}}"/>
        <input type="submit" value="filter" class="btn btn-primary"/>
    </form>
    <nav>
        <ul class="pagination">
          <li {{(hasPrevPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexActu', {"p":p-1})}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for i in range(start, stop) %}
          <li {{(p==i)? "class='active'" : ""}}><a href="{{path('indexActu', {"p":i})}}">{{i}}</a></li>
          {% endfor %}
          <li {{(hasNextPage)? "class='disabled'" : ""}}>
            <a href="{{path('indexActu', {"p":p+1})}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
    <p>Result: {{firstResult}} to {{lastResult}} on {{tot}}</p>
    <table class="table table-striped">
        <thead>
                <tr>
                    <th>#</th>
                    <th>Actu name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
    {% for actu in actus %}
        <tr>
            <td>{{((p-1)*nbPage)+loop.index}}</td>
            <td><h4><a href="{{path("showActu", {"id":actu.id})}}">{{actu.title}}</a></h4></td>
            <td><span class="glyphicon glyphicon-eye-{{actu.isPublished? "open text-success" : "close"}}" aria-hidden="true"></span></td>
            <td><a href="{{path("editActu", {"id":actu.id})}}">modifier</a>
            <a href="{{path("deleteActu", {"id":actu.id})}}" class="delete btn btn-danger"><span class="glyphicon glyphicon-warning-sign"></span>Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
           $('.delete').on('click', function(e){
               return confirm('Delete ?');
           });
           
           $('li.disabled a').on('click', function(e){e.preventDefault()});
        });
    </script>
{% endblock %}
